// Typography

@bodyfont: @body_font, Arial, Helvetica, sans-serif;
@textcolor: @text_color;
@textsize: @text_size;
@textselectedcolor: @text_selected_color;
@textselectedbg: @text_selected_bg;

@headingfont: @heading_font, Arial, Helvetica, sans-serif;
@headingcolor: @heading_color;
@headingfontweight: @heading_font_weight;

@menufont: @menu_font, Arial, Helvetica, sans-serif;
@menucolor: @menu_color;
@menufontsize: @menu_font_size;
@menufontweight: @menu_font_weight;

@submenubg: @sub_menu_bg;
@submenucolor: @sub_menu_color;

@vmenufont: @vmenu_font, Arial, Helvetica, sans-serif;
@vmenucolor: @vmenu_color;
@vmenufontsize: @vmenu_font_size;
@vmenufontweight: @vmenu_font_weight;

@vsubmenubg: @vsub_menu_bg;
@vsubmenucolor: @vsub_menu_color;

@linkcolor: @link_color;
@linkhovercolor: @link_hover_color;


// Colors

@primarycolor: @primary_color;
@salecolor: @sale_color;
@saletextcolor: @saletext_color;
@ratecolor: @rate_color;

//Topbar

@topbarbg: @topbar_bg;
@topbarcolor: @topbar_color;
@topbarlinkcolor: @topbar_link_color;
@topbarlinkhovercolor: @topbar_link_hover_color;

//Header

@headerbg: @header_bg;
@headercolor: @header_color;
@headerlinkcolor: @header_link_color;
@headerlinkhovercolor: @header_link_hover_color;

//Footer

@footerbg: @footer_bg;
@footercolor: @footer_color;
@footerlinkcolor: @footer_link_color;
@footerlinkhovercolor: @footer_link_hover_color;

// Defined colors

@darkcolor: #2f2f2f;
@greycolor: #999999;
@lightgreycolor: #bababa;
@bordercolor: #e5e5e5;